# Prerequisites
*.d

# Object files
*.o
!olib.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.asm

ej?
programa1
programa2
programa3
programa4
programa5
programa6


*.gcda
*.gcno
analizador/bison/y.output
analizador/flex/lex.yy.c
analizador/bison/y.tab.h
analizador/bison/y.tab.c
analizador/omicron

analizador/misalida*.txt
test_tablas
compilador
analizador/in_testS1_V3
analizador/in_testS1_V2
analizador/in_testS1_V1
